altgraph==0.17.3
amqtt==0.11.0b1
asgiref==3.8.1
async-timeout==2.0.1
asyncio==3.4.3
asyncqt==0.8.0
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
charset-normalizer==3.2.0
colorama==0.4.6
common==0.1.2
cryptography==41.0.1
Django==3.2.18
django-cors-headers==3.14.0
django-db-geventpool==4.0.2
django-filter==23.2
djangorestframework==3.14.0
docopt==0.6.2
exceptiongroup==1.1.1
Faker==18.6.2
idna==3.4
iniconfig==2.0.0
logging==0.4.9.6
login==0.0.6
Markdown==3.4.3
mqtt==0.0.1
packaging==23.1
paho-mqtt==1.6.1
passlib==1.7.4
pefile==2023.2.7
pluggy==1.0.0
psycogreen==1.0.2
pycparser==2.21
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
PyJWT==2.6.0
PyMySQL==1.0.2
requests==2.32.3
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5-stubs==5.15.6.0
pytest==7.3.1
python-dateutil==2.8.2
pytz==2022.7.1
pywin32-ctypes==0.2.2


sip==6.8.5
six==1.16.0
sqlparse==0.4.3
suds==1.1.2
tomli==2.0.1
transitions==0.8.11
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.0.3
websockets==10.4
wfastcgi==3.0.0
xmltodict==0.13.0
